<form [formGroup]="form" class="form">

  <div class="inputsForm">
      
    <div formArrayName="products" class="mb-1" *ngFor="let child of products.value; let i=index">
      <div formGroupName="{{i}}">
        <label for="product">Produto</label>
        <select (change)="addNewField(i)" class="custom-select" formControlName="product" mdbValidate for="product">
          <option *ngFor="let produto of produtos" value="{{produto.id}}">{{produto.name}}</option>
        </select>
    
          <label for="quantity">Quantidade</label>
          <input for="quantity" style="padding: 0 .7em;" formControlName="quantity" type="number" class="form-control">
      </div>
    </div>

    </div>

  <div class="buttonForm">
    <button mdbBtn type="button" color="success" (click)="salvar()">Salvar</button>
    <button mdbBtn type="button" color="danger" (click)="cancelar()">Cancelar</button>
  </div>

</form>
