<div class="pages">

  <button type="button" class="buttonTop btn btn-success" (click)="adicionar()"><mdb-icon fas icon="plus" class="prefix icon"></mdb-icon> Adicionar {{typeCampo}}</button>

  <app-edit-produtos class="janela produtos animate__animated animate__zoomIn" *ngIf="produtoJanela"></app-edit-produtos>
  <app-edit-vendas class="janela vendas animate__animated animate__zoomIn" *ngIf="vendaJanela"></app-edit-vendas>
  <app-edit-recebimentos class="janela recebimentos animate__animated animate__zoomIn" *ngIf="recebimentoJanela"></app-edit-recebimentos>
  <app-edit-usuarios class="janela usuarios animate__animated animate__zoomIn" *ngIf="usuarioJanela"></app-edit-usuarios>

  <div class="md-form">
    <input type="text" (input)="search($event)" class="form-control" id="search" mdbInput/>
    <label for="search">Pesquisar</label>
  </div>

  <div class="page" *ngIf="[type] == 'produtos'">
    <table class="table-striped z-depth-1" mdbTable>
        <thead class="thead-dark">
          <tr>
            <th scope="col" [mdbTableSort]="produtos" sortBy="id"># <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="produtos" sortBy="name">Produto <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="produtos" sortBy="description">Descrição <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="produtos" sortBy="quantity">Quantidade <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <th scope="row">{{produto.id}}</th>
            <td class="pesquisa">{{produto.name}}</td>
            <td>{{produto.description}}</td>
            <td>{{produto.quantity}}</td>
            <td class="options">
                <!-- <mdb-icon fas icon="pen" class="prefix icon edit"></mdb-icon> -->
                <mdb-icon fas icon="times" class="prefix icon remove" (click)="deletar(produto.id)"></mdb-icon>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="page" *ngIf="[type] == 'vendas'">
    <table class="table-striped z-depth-1" mdbTable>
        <thead class="thead-dark">
          <tr>
            <th scope="col" [mdbTableSort]="vendas" sortBy="id"># <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="vendas" sortBy="product.name">Produto <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="vendas" sortBy="price">Valor da Compra <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="vendas" sortBy="quantity">Quantidade <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="vendas" sortBy="client_name">Comprador <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="vendas" sortBy="date">Data da Venda <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venda of vendas">
            <th scope="row">{{venda.id}}</th>
            <td class="pesquisa">{{venda.product.name}}</td>
            <td>{{venda.price | currencyFormat}}</td>
            <td>{{venda.quantity}}</td>
            <td>{{venda.client_name}}</td>
            <td>{{venda.date | date: "dd/MM/yy 'às' HH:mm:ss":"BRL"}}</td>
            <td class="options">
                <!-- <mdb-icon fas icon="pen" class="prefix icon edit"></mdb-icon> -->
                <mdb-icon fas icon="times" class="prefix icon remove" (click)="deletar(venda.id)"></mdb-icon>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="page" *ngIf="[type] == 'recebimentos'">
    <table class="table-striped z-depth-1" mdbTable>
        <thead class="thead-dark">
          <tr>
            <th scope="col" [mdbTableSort]="recebimentos" sortBy="id"># <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="recebimentos" sortBy="product.name">Produto <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="recebimentos" sortBy="date">Data do Recebimento <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="recebimentos" sortBy="quantity">Quantidade <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recebimento of recebimentos">
            <th scope="row">{{recebimento.id}}</th>
            <td class="pesquisa">{{recebimento.product.name}}</td>
            <td>{{recebimento.date | date: "dd/MM/yy 'às' HH:mm:ss":"BRL"}}</td>
            <td>{{recebimento.quantity}}</td>
            <td class="options">
                <!-- <mdb-icon fas icon="pen" class="prefix icon edit"></mdb-icon> -->
                <mdb-icon fas icon="times" class="prefix icon remove" (click)="deletar(recebimento.id)"></mdb-icon>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="page" *ngIf="[type] == 'usuarios'">
    <table class="table-striped z-depth-1" mdbTable>
        <thead class="thead-dark">
          <tr>
            <th scope="col" [mdbTableSort]="usuarios" sortBy="id"># <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="usuarios" sortBy="username">Usuário <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="usuarios" sortBy="name">Nome <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="usuarios" sortBy="surname">Sobrenome <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" [mdbTableSort]="usuarios" sortBy="email">Email <mdb-icon fas icon="sort" class="prefix icon"></mdb-icon></th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <th scope="row">{{usuario.id}}</th>
            <td class="pesquisa">{{usuario.username}}</td>
            <td>{{usuario.name}}</td>
            <td>{{usuario.surname}}</td>
            <td>{{usuario.email}}</td>
            <td class="options">
                <!-- <mdb-icon fas icon="pen" class="prefix icon edit"></mdb-icon> -->
                <mdb-icon fas icon="times" class="prefix icon remove" (click)="deletar(usuario.id)" *ngIf="usuario.username != username"></mdb-icon>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>