@import '../../../styles.scss';

.buttonTop{
    text-transform: capitalize;
    font-weight: bold;
}

.form-control{
    padding-left: 0;
    padding-right: 0;
    &:focus{
        background: transparent;
    }
}

table{

    thead{
        background: $c-secondary !important;
    }

    th{
        .icon{
            cursor: pointer;
        }
    }

    .options{
        display: flex;
        justify-content: center;
        .icon{
            color: $c-white;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-left: 0.15rem;
            margin-right: 0.15rem;
            
            &.edit{
                background: $c-edit;
            }

            &.remove{
                background: $c-remove;
            }

            &:hover{
                cursor: pointer;
                color: $c-black;
            }
        }
    }
    
}

.janela{
    width: 50vw;
	height: 80vh;

    &.produtos{
        width: 50vw;
	    height: 50vh
    }
    &.vendas{
        width: 50vw;
	    height: 50vh
    }
    &.recebimentos{
        width: 50vw;
	    height: 30vh
    }
    &.usuarios{
        width: 50vw;
	    height: 60vh
    }

    border-radius: 1%;
    border: 1px solid white;
    padding: 1rem;
    background: #ffffff;

    z-index: 999;
    
    overflow: auto;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}