<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Nome de Usuário</label>
    <input formControlName="username" type="text" class="form-control" id="username">

    <label for="name">Nome</label>
    <input formControlName="name" type="text" class="form-control" id="name">

    <label for="surname">Sobrenome</label>
    <input formControlName="surname" type="text" class="form-control" id="surname">

    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email">

    <label for="pwd">Senha</label>
    <input formControlName="pwd" type="password" class="form-control" id="pwd">


    <div class="buttonForm">
      <button mdbBtn type="button" color="success" (click)="salvar()">Salvar</button>
      <button mdbBtn type="button" color="danger" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</form>
