/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/main.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    margin: 0;
    height: 100%;
    position: relative;
    background: $c-terciary;
}

.icon{
    .invisible{
        display: none;
    }
}